<%= render 'shared/banner' %>

<% @physical_books.each_slice(3) do |books| %>
  <div class="row">
    <% books.each do |book| %>
      <div class="col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2);">
        <div class="col-md-4">
            <div class="card-cover"><%= image_tag "#{book.cover_pic_url}", size: "100x150" %></div>
        </div>
        <div class="col-md-8">
           <div class="card-category"><%=  book.status %></div>
            <div class="card-description">
              <h2><%= book.title %></h2>
              <p><%= book.author %></p>
            <img class="card-user avatar" src="#{book.user_id.profile_pic_url}">
            <a class="card-link" href="#" ></a>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

