<%= content_for(:title) do %>
Bookaround | Find your books locally
<% end %>

<%= render 'shared/banner' %>

<div class="container">

<!-- show how many users in brussels (visitors) or area (user) -->
<div>
  <h2> There are <%=  count_users_in_area(brussels_coordinates) %> users in your area </h2>
</div>

  <!-- first Map of users -->
  <div id="map" style="width: 100%; height: 600px;"></div>
  <% content_for(:after_js) do %>

  <script type="text/javascript">
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');

      var mapOptions = {
        center: new google.maps.LatLng(50.85045, 4.34878),
        zoom: 10
      };
      handler.buildMap({ provider: mapOptions, internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
          // handler.bounds.extendWith(markers);
          // handler.fitMapToBounds();
          // if (markers.length == 0) {
          //   handler.getMap().setZoom(2);
          // } else if (markers.length == 1) {
          //   handler.getMap().setZoom(14);
          // }
        });
    });
  </script>
  <% end %>

  <!-- card of books -->
  <%= render "static_page_book_card" %>
</div>











