<%= content_for(:title) do %>
  Bookaround | Find your books locally
<% end %>

<%= render 'shared/banner' %>

<div class="container">

  <!-- first Map of users -->
  <div id="map" style="width: 100%; height: 600px;"></div>
  <% content_for(:after_js) do %>
    <script type="text/javascript">
      $(document).on('ready', function() {
        var handler = Gmaps.build('Google');

        var mapOptions = {
          center: new google.maps.LatLng(50.85045, 4.34878),
          zoom: 10
        };
        handler.buildMap({ provider: mapOptions, internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          // handler.bounds.extendWith(markers);
          // handler.fitMapToBounds();
          // if (markers.length == 0) {
          //   handler.getMap().setZoom(2);
          // } else if (markers.length == 1) {
          //   handler.getMap().setZoom(14);
          // }
        });
      });
    </script>

<!-- list of books -->
  <% @physical_books.each_slice(3) do |books| %>
    <div id ="homepagebooks" class="row">
      <% books.each do |book| %>
        <div class="col-md-4">
          <%= link_to(physical_book_path(book), {class: "card-link"}) do %>
            <div class="card">
              <div class="col-xs-4">
                <div class="card-cover"><%= image_tag "#{book.cover_pic_url}", {class: "img-responsive" } %></div>
                </div>
              <div class="col-xs-8">
                <div class="card-category"><%=  book.status %> | <%=  book.price %> €</div>
                <div class="card-description">
                <h2><%= book.title %></h2>
                <p><%= book.author %></p>
                <% end %>
              </div>

                <%= link_to(user_path(book.user), {class: "card-link"}) do %>
                <p><%= image_tag "#{book.user.profile_pic_url}", class: "avatar-sm" %></p>

                <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% end %>
</div>



