<div class="container">
<h4><%= @chosen_recipient.first_name %> </h4>
<h3>Send a message to</h3>

  <% if @book %>
    <%= image_tag @book.user.profile_pic_url, class: "avatar-sm" %><%= @book.user.first_name %>
    <%= form_tag messages_path, method: :post do %>

    <div class="form-group">
      <%= label_tag 'message[subject]', 'Subject' %>
      <%= text_field_tag 'message[subject]', @book.title, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= label_tag 'message[body]', 'Message' %>
      <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= hidden_field_tag :recipients, @book.user.id %>
    </div>

    <%= submit_tag 'Send', class: 'btn btn-primary' %>
  <% end %>

  <% else %>

    <div class="form-group">
    <%= image_tag @chosen_recipient.profile_pic_url, class: "avatar-sm" %><%= @chosen_recipient.first_name %>
    <%= form_tag messages_path, method: :post do %>
    </div>

    <div class="form-group">
      <%= label_tag 'message[subject]', 'Subject' %>
      <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= label_tag 'message[body]', 'Message' %>
      <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= hidden_field_tag :recipients, @chosen_recipient.id %>
    </div>

    <%= submit_tag 'Send', class: 'btn btn-primary' %>
  <% end %>
  <% end %>
