<%= content_for(:title) do %>
  Bookaround | New title
<% end %>

<div class="container">
  <h1>Update a book:</h1>
<%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :description %>
    <%= f.input :status, collection: [ "Keep", "Sell", "Trade"]%>
    <%= f.input :cover_pic_url %>
      <p>Edit the picture of your book</p>
      <%= f.label :picture_url do %>
      <%= f.file_field :picture_url %>
      <%= f.hidden_field :picture_url_cache %>
      <% end %>
    <%= f.input :isbn %>
    <%= f.input :genre_id, collection: Genre.all %>
    <%= f.input :price %>
    <%= f.button :submit, 'Update' %>
  <% end %>
</div>
