<h1>Physical books index</h1>



<%= form_tag physical_books_path, method: :get do %>
<p>
<%= text_field_tag :query, value: params[:query] %>
<%= submit_tag "Search", name: nil %>
</p>
<% end %>


<div class="container">
  <ul>
  <% if !@physical_books.nil? %>
    <% @physical_books.each do |book| %>
    <li> <%= book.title %>, <%= book.author %>, <%=   image_tag "#{book.cover_pic_url}" %> </li>
    <% end %>
   <% end %>
  </ul>
</div>

