<%= content_for(:title) do %>
  Bookaround | New title
<% end %>

<div class="container">
  <h1>Upload Book:</h1>

  <%= simple_form_for @new_physical_book do |f| %>
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :description %>
    <%= f.input :status, collection: [ "Keep", "Sell", "Trade", "Free"]%>
    <%= f.input :cover_pic_url %>
    <%= f.input :isbn %>
    <%= f.input :genre_id, collection: Genre.all %>
    <%= f.input :price %>
    <%= f.button :submit, 'Upload' %>
  <% end %>
</div>
