<%= content_for(:title) do %>
  Bookaround | Add a book
<% end %>

<div class="container">
  <h2 class="text-center header-form">Add a Book</h2>
  <div class="btn-formo">
  <p>Find your book</p>
    <%= form_tag physical_books_searchbook_path, method: :get do %>
      <%= text_field_tag :title_query, params[:title_query] %>
      <% end %>
  <hr />
  <p>or fill in the form</p>
  </div>
  <%= simple_form_for @new_physical_book, html: { multipart: :true } do |f| %>
    <%= f.input :title, label: false, placeholder: "Title" %>
    <%= f.input :author, label: false, placeholder: "Author" %>
    <%= f.input :description, label: false, placeholder: "Description", as: :text %>
    <%= f.input :status, collection: [ "Keep", "Sell", "Trade", "Free"], label: false, prompt: "Status"%>
    <%= f.input :cover_pic_url, label: false, placeholder: "Link to your book's cover" %>
    <%= f.input :isbn, label: false, placeholder: "ISBN" %>
    <%= f.input :genre_id, collection: Genre.all,label: false, prompt: "Genre" %>
    <%= f.input :price, label: false, placeholder: "Price" %>

      <%= f.label :picture_url do %>
        <%= f.file_field :picture_url %>
        <%= f.hidden_field :picture_url_cache %>
        <% end %>

    <div class="btn-center">
      <%= f.button :submit, 'Save', class:  "btn-center" %>
    </div>
  <% end %>
</div>
