<%= content_for(:title) do %>
  Tsundoku | <%= @book.title %>
<% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag "#{@book.cover_pic_url}", {class: "img-responsive" }   %>
      <!-- <a href="#" class="thumbnail" >
        <%#= image_tag "#{@book.picture_url}", {class: "img-responsive" }   %>
      </a> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">
      <h2><%= @book.title %></h2>
      <h3><%= @book.author %></h3>
      <h3><%= link_to Genre.find(@book.genre_id).name, genre_path(@book.genre_id) %></h3>
      <p class=""><%= @book.description %></p>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <% if current_user == PhysicalBook.find(params[:id]).user %>
          <p><%= link_to "Update book details", edit_physical_book_path(@book), {class: ""} %></p>
          <p>
            <%= link_to "Delete book", physical_book_path(@book), class: "", method: :delete, data: {confirm: "Are you sure you want to delete this book?"} %>
            <% end %>
          </p>
        <% if current_user != PhysicalBook.find(params[:id]).user %>
          <%=link_to(user_path(@book.user)) do %>
            <% avatar_url = @book.user.facebook_picture_url || @book.user.profile_pic_url  %>
              <p><%= image_tag avatar_url, class: "avatar-md" %></p>
              <p><%= @book.user.first_name + ' ' + @book.user.last_name %></p>
          <% end %>
          <p><%= link_to "Message", new_message_path(to: @book.user, book: @book, recipient: @book.user), {class: "btn-medium"} %></p>
        <% end %>
      <% if current_user %>
          <% unless current_user == @book.user %>
            <% current_wishlist_item = current_user.contains_book?(@book.id) %>
            <% if current_wishlist_item.nil? %>
              <p><%= link_to "Save to wishlist", wishlist_items_path(physical_book_id: @book.id, wishlist_id: current_user.wishlist.id), method: "create" %></p>
            <% else %>
              <p><%= link_to "Remove from wishlist", wishlist_item_path(current_wishlist_item.id), method: "delete", class: "" %></p>
            <% end %>
          <% end %>
        <% end %>

      <!-- google maps unless your own profile -->
      <% unless current_user == @book.user %>
        <div id="map" style="width: 100%; height: 385px;"></div>
        <% content_for(:after_js) do %>
          <script type="text/javascript">
            $(document).on('ready', function() {
              var handler = Gmaps.build('Google');
              var mapOptions = {
                center: new google.maps.LatLng(<%=@book.user.latitude %>,<%=@book.user.longitude %>),
                zoom: 10,
                scrollwheel: false,
                styles: [{"featureType":"landscape","elementType":"all","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"poi","elementType":"all","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]},{"featureType":"road.highway","elementType":"all","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","elementType":"all","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]}]
            };
              handler.buildMap({ provider: mapOptions, internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
              });
            });
          </script>
        <% end %>
      <% end %>

    </div>
  </div>
