<%= content_for(:title) do %>
Bookaround | <%= @book.title %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <%= image_tag "#{@book.cover_pic_url}", {class: "img-responsive" }   %>
    </div>
    <div class="col-xs-12 col-md-9">
    <div> <% if current_user %>
          <p> <%= current_user.distance_from(book.user_coordinates) %> </p><% end %> </div>
      <h2><%= @book.title %></h2>
      <p><%= @book.author %></p>
      <p><%= @book.description %></p>
      <p><%= Genre.find(@book.genre_id).name %></p>

      <% if current_user == PhysicalBook.find(params[:id]).user %>
        <%= link_to "Update Book", edit_physical_book_path(@book), {class: "btn btn-primary"} %>

        <%= link_to "Delete Book", physical_book_path(@book), class: "btn btn-primary", method: :delete, data: {confirm: "Are you sure you want to delete this book?"} %>
      <% end %>
      <% if current_user != PhysicalBook.find(params[:id]).user %>
        <%=link_to(user_path(@book.user)) do %>
        <div>
          <%= image_tag "#{@book.user.profile_pic_url}", class: "avatar-md" %>
        </div>
        <% end %>
        <%= mail_to(@book.user.email) do %>
        <i class="fa fa-envelope fa-2x"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="map" style="width: 100%; height: 600px;"></div>
  <% content_for(:after_js) do %>

  <script type="text/javascript">
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');

      var mapOptions = {
        center: new google.maps.LatLng(<%=@book.user.latitude %>,<%=@book.user.longitude %>),
        zoom: 10
      };
      handler.buildMap({ provider: mapOptions, internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);

      });
    });
  </script>
  <% end %>
</div>
