<%= content_for(:title) do %>
  Bookaround | Sign Up
<% end %>

<div class="cont-formo">
  <div class="formo">

    <%= link_to "Sign Up with Facebook", omniauth_authorize_path(User, :facebook), class:  'btn btn-primary btn-formo' %>

      <hr />
      <p>or</p>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: :true }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="row">
            <div class="col-xs-6">
              <%= f.input :first_name, required: true, label: false, placeholder: 'First name' %>
            </div>
            <div class="col-xs-6">
              <%= f.input :last_name, required: true, label: false, placeholder: 'Last name'  %>
            </div>
          </div>
          <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email address' %>
          <%= f.input :password, required: true, label: false, placeholder: 'Create a password' %>
          <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm your password' %>

          <%#= f.input :street1, required: true, label: false, placeholder: 'Street' %>
          <%#= f.input :postcode, required: true, label: false, placeholder: 'ZIP code'%>
          <%#= f.input :city, required: true, label: false, placeholder: 'City' %>
          <%#= f.input :country, required: true, label: false, prompt: 'Country', class: "placeholder-formo" %>
          <%#= f.input :bio, label: false, placeholder: "Please write some words about yourself", as: :text %>

          <%#= f.label :profile_pic_url do %>
            <%#= f.file_field :profile_pic_url %>
            <%#= f.hidden_field :profile_pic_url_cache %>
          <%# end %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign Up", class:  'btn btn-primary btn-formo' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
  </div>
</div>
