<h1>Conversation</h1>
,
<p>Chatting with <%= @chosen_recipient %></p>
  <% if current_user != @conversation.participants %>
    <%= @conversation.participants.map(&:first_name) %>
  <% end %>
<div class="panel panel-default">
  <div class="panel-heading"><%= @conversation.subject %></div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="messages">
          <% @conversation.receipts_for(current_user).each do |receipt| %>
            <% message = receipt.message %>

            <% avatar_url = message.sender.facebook_picture_url || message.sender.profile_pic_url %>
            <%= image_tag avatar_url, class: "avatar-sm" %>
            <%= message.sender.first_name %>
              says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>
            <%= message.body %>
            <% end %>

          </div>

        </div>
      </div>

      <%= form_tag reply_conversation_path(@conversation), method: :post do %>
        <div class="form-group">
          <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
        </div>
        <%= submit_tag "Send Message", class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>
