<%= content_for(:title) do %>
  Tsundoku | <%= @user.first_name + ' ' + @user.last_name %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3">
    <div>
      <% avatar_url = @user.facebook_picture_url || @user.profile_pic_url || "http://placehold.it/30x30" %>
      <%= image_tag avatar_url, {class: "avatar-profile-square"} %>
    </div>
    <h2><%= @user.first_name %><%= " " %><%= @user.last_name %></h2>
    <div>
      <% if !@user.city %>
        <%= link_to "Add your address", edit_user_registration_path %>
      <% else %>
        <p><%= @user.city %> · <%= @user.country %></p>
      <% end %>
    </div>
    <div>
      <% if !@user.bio %>
        <%= link_to "Say something about you", edit_user_registration_path %>
      <% else %>
        <p><%= @user.bio %></p>
      <% end %>
    </div>
    <% if current_user == User.find(params[:id]) %>
      <p><%= link_to "Add a book", new_physical_book_path, class: "" %></p>
      <p><%= link_to "Edit profile", edit_user_registration_path, class: "" %></p>
    <% else %>
      <p><%= link_to "Message", new_message_path(to: @user), class: "" %></p>
      <%#= link_to "See all books", index_of_books_path(@user), class: "" %>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-9">
    <%= render "users_book_card" %>
  </div>
</div>

