<div class="container center-block">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <%= image_tag "#{@user.profile_pic_url}", {class: "avatar-profile-sauqre"} %>
    </div>
    <div class="col-xs-12 col-md-9">

      <h2><%= @user.first_name %><%= " " %><%= @user.last_name %></h2>
      <p><%= @user.city %> · <%= @user.country %></p>
      <% (@user.rating).times do %>
          <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
      <p><%= @user.bio %></p>
      <p><i class="fa fa-comment-o" aria-hidden="true"></i></p>
    </div>
  </div>


<% @books.each_slice(3) do |books| %>
    <div class="row">
      <% books.each do |book| %>
        <div class="col-md-4">
          <%= link_to(physical_book_path(book), {class: "card-link"}) do %>
            <div class="card">
              <div class="col-xs-4">
                <div class="card-cover"><%= image_tag "#{book.cover_pic_url}", {class: "img-responsive" } %></div>
                </div>
              <div class="col-xs-8">
                <div class="card-category"><%=  book.status %> | <%=  book.price %> €</div>
                <div class="card-description">
                <h2><%= book.title %></h2>
                <p><%= book.author %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>



 <!--validates :first_name, presence: true
  validates :last_name, presence: true
  validates :email, presence: true, uniqueness: true
  validates :profile_pic_url, presence: true
  validates :street1, presence: true
  validates :postbox, presence: true
  validates :postcode, presence: true
  validates :city, presence: true
  validates :country, presence: true
 -->
<!--
