<%= content_for(:title) do %>
  Bookaround | <%= @user.first_name + ' ' + @user.last_name %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <%= image_tag "#{@user.profile_pic_url}", {class: "avatar-profile-square"} %>
    </div>
    <div class="col-xs-12 col-md-9">

      <h2><%= @user.first_name %><%= " " %><%= @user.last_name %></h2>
      <p><%= @user.city %> · <%= @user.country %></p>
      <p><%= @user.bio %></p>
      <p><i href= class="fa fa-comment-o bookaround-primary" aria-hidden="true"></i></p>
    </div>
  </div>

  <% if current_user == User.find(params[:id]) %>
  <%= link_to "edit my profile", edit_user_registration_path, class: "btn btn-danger" %>
  <% end %>
  <% if @user.physical_books.any? %>
  <div class="row">
    <div class="col-md-4">
      <%= link_to(physical_book_path(@last_book), {class: "card-link"}) do %>
      <div class="card">
        <div class="col-xs-4">
          <div class="card-cover"><%= image_tag "#{@last_book.cover_pic_url}", {class: "img-responsive" } %></div>
        </div>
        <div class="col-xs-8">
          <div class="card-category">
            <%=  @last_book.status %> | € <%= display_book_price(@last_book) %></div>
          <div class="card-description">
            <h2><%= @last_book.title %></h2>
            <p><%= @last_book.author %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% if current_user == User.find(params[:id]) %>
  <%= link_to "add a book", new_physical_book_path, class: "btn btn-danger" %>
  <% end %>
  <% if current_user != User.find(params[:id]) %>
  <%= mail_to(@user.email) do %>
  <i class="fa fa-envelope fa-2x"></i>
  <% end %>
  <% end %>
  <%= link_to "see all books", index_of_books_path(@user), class: "btn btn-danger" %>
  <div>
  <% if current_user %>
    <% unless current_user.coordinates[0].nil?  %>
      <p>
        <%= current_user.distance_from(@user.coordinates).round(2) %> km away.
      </p>
    <% end %>
  <% end %>

    <div id="map" style="width: 100%; height: 600px;"></div>
    <% content_for(:after_js) do %>

    <script type="text/javascript">
      $(document).on('ready', function() {
        var handler = Gmaps.build('Google');
        var mapOptions = {
          center: new google.maps.LatLng(<%=@user.latitude %>,<%=@user.longitude %>),
          zoom: 10
        };
        handler.buildMap({ provider: mapOptions, internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);

        });
      });
    </script>
    <% end %>
  </div>

