<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <h1 class="logo">B</h1>
  <% end %>

  <!-- Desktop navbar -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
    <form action="/physical_books" method="get" name="query" class="navbar-wagon-search">
      <input type="text" name="query" class="navbar-wagon-search-input" placeholder="Search for a book" onkeyup="buttonUp();" required>
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>


    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Team</a>

    <!-- Notification link-->
    <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="badge badge-blue">3</div>
      </div>
    </a>

    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar-sm dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li>
            <a href="#">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Button (call-to-action) -->
    <a href="" class="navbar-wagon-item navbar-wagon-button btn">Post stuff</a>

    <% else %>
      <form action="/physical_books" method="get" name="query" class="navbar-wagon-search">
        <input type="text" name="query" class="navbar-wagon-search-input" placeholder="Search for a book" onkeyup="buttonUp();" required>
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>

      <%= link_to "Log In", new_user_session_path %>
    <% end %>
  </div>


  <!-- Mobile navbar -->
  <div class="navbar-wagon-item hidden-md hidden-lg">

    <div class="search-container">
      <form action="/physical_books" method="get" name="query" class="searchbox">
        <input type="text" name="query" class="searchbox-input" placeholder="Search for a book" onkeyup="buttonUp();">
          <span class="searchbox-icon">
            <i class="fa fa-search"></i>
          </span>
      </form>
    </div>

    <!-- If logged in mobile -->
    <% if user_signed_in? %>

      <!-- Mobile dropdown menu -->
      <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="#">
          <%= link_to user_path(current_user) do %>
            <% avatar_url = current_user.facebook_picture_url || current_user.profile_pic_url %>
            <%= image_tag avatar_url, class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
        </a>
        <div class="menu-items">
          <a href="#">
            <%= link_to user_path(current_user) do %>
              <%= t(".profile", default: "My profile") %>
            <% end %>
          </a>
          <a href="#">
             <%= link_to 'Messages', conversations_path %>
          </a>
          <a href="#">
            <%= link_to wishlist_path do %>
              <%= t(".profile", default: "My Wishlist") %>
            <% end %>
          </a>
          <a href="#">
            <%= link_to new_physical_book_path(@physical_books) do %>
              <%= t(".profile", default: "Add a book") %>
            <% end %>
          </a>
          <a href="#">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </a>
        </div>
      </div>
    </div>

    <span style="cursor:pointer" onclick="openNav()">
      <i class="fa fa-bars menu-bars" aria-hidden="true"></i>
    </span>

    <!-- if not logged in mobile -->
    <% else %>
      <%= link_to(new_user_session_path) do %>
        <i class="fa fa-bars menu-bars" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>
