<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <h1 class="logo">B</h1>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">



    <!-- Search form -->
    <form action="/physical_books" method="get" name="query" class="navbar-wagon-search">
      <input type="text" name="query" class="navbar-wagon-search-input" placeholder="Search for a book">
      <!-- <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button> -->
    </form>

  <!-- Different navigation if login or not -->
  <% if user_signed_in? %>

    <!-- Profile picture and dropdown -->
   <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href="#">
      <%= link_to edit_user_registration_path do %>
        <%= t(".profile", default: "My profile") %>
      <% end %>
    </a>
    <a href="#">
      <%= link_to new_physical_book_path(@physical_books) do %>
        <%= t(".profile", default: "Add a book") %>
      <% end %>
    </a>
    <a href="#">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= t(".sign_out", default: "Log out") %>
      <% end %>
    </a>
  </div>
</div>

  <span style="font-size:30px;cursor:pointer" onclick="openNav()"><%= image_tag "#{current_user.profile_pic_url}", class: "avatar-sm dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %></span>

  <% else %>

    <!-- Button (call-to-action) -->
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn" %>

  <% end %>
  </div>
</div>

