<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <h1 class="logo">B</h1>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">



    <!-- Search form -->
<!--     <form action="/physical_books" method="get" name="query" class="navbar-wagon-search">
      <input type="text" name="query" class="navbar-wagon-search-input" placeholder="Search for a book" onkeyup="buttonUp();" required>
      <button type="submit" class="navbar-wagon-search-btn searchbox-icon">
        <i class="fa fa-search searchbox-icon"></i>
      </button>
    </form> -->



 <!--    <div class="search-container">
      <form class="searchbox">

      <form action="/physical_books" method="get" name="query" class="navbar-wagon-search">
        <input type="text" name="query" class="searchbox-input" placeholder="Search for a book" onkeyup="buttonUp();" required>

        <input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
        <button type="submit" class="searchbox-submit" value="">

        <span class="searchbox-icon">
          <i class="fa fa-search"></i>
        </span>
    </form>
</div> -->

<div class="search-container">
  <form action="/physical_books" method="get" name="query" class="searchbox">
    <input type="text" name="query" class="searchbox-input" placeholder="Search for a book" onkeyup="buttonUp();">
        <span class="searchbox-icon">
          <i class="fa fa-search"></i>
        </span>
  </form>
</div>


  <!-- Different navigation if login or not -->
  <% if user_signed_in? %>

    <!-- Profile picture and dropdown -->
   <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href="#">
      <%= link_to user_path(current_user) do %>
        <%= t(".profile", default: "My profile") %>
      <% end %>
    </a>
    <a href="#">
       <%= link_to 'Your Conversations', conversations_path %>
    </a>
    <a href="#">
      <%= link_to new_physical_book_path(@physical_books) do %>
        <%= t(".profile", default: "Add a book") %>
      <% end %>
    </a>
    <!-- <a href="#"> -->
      <%#= link_to wishlist_path(current_user.wishlist), method: :delete do %>
        <%#= t(".sign_out", default: "My wishlist") %>
      <%# end %>
    <!-- </a> -->
    <a href="#">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= t(".sign_out", default: "Log out") %>
      <% end %>
    </a>
  </div>
</div>


  <% avatar_url = current_user.facebook_picture_url || current_user.profile_pic_url %>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </span>

  <% else %>

    <!-- Button (call-to-action) -->
    <%#= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
      <%= link_to(new_user_session_path) do %>
        <i class="fa fa-bars" aria-hidden="true"></i>
      <% end %>

  <% end %>
  </div>
</div>
